body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: center; }
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: center; }

.ads {
  position: fixed;
  left: 10px;
  bottom: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 99;
  text-align: center;
  max-width: 200px;
}

.ads a {
  color: black;
}

.ad-header {
  margin: 0 0 -2px 0px;
  background: white;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.ad-header a {
  float: right;
  border-left: 1px solid #f3f3f3;
  padding:10px;
  line-height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
}
.ad-header a:hover {
  background: #eee;
}

.ads .promo {
  position: absolute;
  top: -195px;
  left: 0;
}

.message {
  max-width: 550px;
  margin: 50px auto 0;
  padding: 14px;
  background: #72EC80;
  color: #0E530E;
  font-weight: normal;
  font-style: normal;
  border-radius: 3px;
}

.success-message a{
  color: black;
  border-bottom: 1px dotted #000;
}

.success-message {
  background: #72EC80;
  color: #0E530E;
}

.error-message a{
  color: #FFF;
  border-bottom: 1px dotted #fff;
}

.error-message {
  background: #EC7272;
  color: #FFF;
}

.socials {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  float: left;
  padding: 9px 5px 5px;
  margin: 0 0 60px 0;
}
.socials > * {
  display: inline !important;
}
.socials .fb-like {
  top: -5px;
  min-width: 85px;
  text-align: left;
}
.socials .fb-like > span {
  vertical-align: top;
}
.socials .twitter-share-button {
  width: 85px  !important;
}
