@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #444;
}
/*stage start*/
.stage {
  position: relative;
  width: 100%;
  height: 670px;
  overflow: hidden;
}
.img-stg {
  position: relative;
  left: 0;
  width: 100%;
  height: 650px;
  margin-top: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
  background-color: #ddd;
  overflow: hidden;
}
/*stage end*/
/*img start*/
.img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 360px;
  transform-origin: 50% 50%;
  box-sizing: border-box;
  transition: left 0.6s,top 0.6s,transform 0.6s;
}
.img-box img {
  width: 240px;
  height: 260px;
  cursor: pointer;
}
.img-box:hover {
  transform: rotateY(180deg);
}
.img-title {
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
  text-align: center;
}
.font,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  transform-style: preserve-3d;
  perspective: 1800px;
  transform-origin: 50% 50%;
  transition: transform 1s;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.back {
  background-color: #fff;
}
/*img end*/
/*nav start*/
.nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  z-index: 102;
}
.nav ul {
  margin: auto;
}
.nav-item {
  display: inline-block;
}
.nav-item span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #aaa;
  border-radius: 50%;
  transform: scale(0.5);
}
.nav-item span.is-center {
  background-color: #888;
  transform: scale(1);
}
/*nav end*/
