$bgColor: #fff;
$colorOfLinks: #5ECCE1;
$pInsideBlockColor:#79C1C8;
$h3ColorInsideBlock:#1697A6;
$pColor:#617D8A;
$borderColor: #869AA4;
$inputSearchColor: #5ECCE1;
$bgColorInsideBlock: #EFEFEF;
$hColor: #1fbcd3;
$btnColor:#1fbcd3;