$bgColor: #EFEFEF;
$colorOfLinks: #FC5830;
$pInsideBlockColor:#BDBDBD;
$h3ColorInsideBlock:#617D8A;
$pColor:#757575;
$borderColor: #CFD8DC;
$inputSearchColor: #FC5830;
$bgColorInsideBlock: #fff;
$hColor: #FC5830;
$btnColor:#FC5830;