* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.content-header {
    width: 100%;
    height: 340px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header {
    background-image: url("../img/apples.jpg");
    height: 740px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#first-block {
    width: 50%;
}

#first-block-content-1 {
    width: 65%;
    height: 100px;
    margin: 0 auto;
    margin-top: 140px;
    font-size: 25px;
}

#second-block {
    width: 50%;
}

#second-block-content-1 {
    width: 85%;
    height: 100px;
    margin: 0 auto;
    margin-top: 140px;
}

nav {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#black-and-white {
    width: 550px;
    height: 50px;
    margin: 30px 210px 0 0;
    text-transform: uppercase;
    text-align: center;
    padding-top: 12px;
    color: #fff;
    letter-spacing: 2px;
}

#header-links {
    width: 430px;
    height: 50px;
    margin: 30px 0 0 161px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}

#header-links ul {
    display: flex;
}

#header-links ul>li {
    margin: 0 40px 0 0;
}

.center-brand-name {
    width: 590px;
    height: 340px;
    margin: 0 auto;
    margin-top: 150px;
}

.center-brand-name p:first-child {
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

.center-brand-name p:nth-child(2) {
    color: #fff;
    text-align: center;
}

#center-brand-name-and {
    font-size: 100px;
}

.center-brand-name p:first-child::after {
    content: "Tm";
    font-size: 25px;
    vertical-align: super;
    letter-spacing: 0;
    margin: -5px 0 0 -15px;
}

a:hover {
    border-bottom: 2px solid #B7C8D9;
}

#read-more-button {
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}

#test {
    height: 100px;
    margin: 0 auto;
    width: 200px;
}

#read-more-button:hover {
    background: rgba(0, 0, 0, 0.4);
}

.articles-content {
    background: #F3F3F3;
    width: 100%;
    padding-top: 100px;
}

.articles-content-block-1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.article-content-block-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}

.top-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
}

.bottom-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-left-cnt {
    background-image: url("../img/sample.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    height: 300px;
    border: 1px solid #fff;
    margin-right: 10px;
}

.top-right-cnt {
    width: 35%;
    height: 300px;
    display: flex;
    align-items: center;
}

.bottom-left-cnt {
    width: 35%;
    height: 300px;
    display: flex;
    align-items: center;
}

.bottom-right-cnt {
    background-image: url("../img/sample3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 65%;
    height: 300px;
    border: 1px solid #fff;
    margin-left: 10px;
}

.img-likes {
    width: 70px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    color: #fff;
    float: right;
    margin: 20px 20px 0 0;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

#m-top-30px {
    margin-top: 30px;
}

.subscribe {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background: #fff;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px 0 30px;
}

input.sub-btn {
    border: 2px solid #000;
    height: 50px;
    width: 70%;
    margin: 0 -5px 0 10px;
    background: #f3f3f3;
}

.subscribe p {
    font-size: 20px;
}

input[type="email"] {
    padding-left: 25px;
}

footer {
    width: 100%;
}

footer li {
    margin-top: 150px;
    height: 150px;
    width: 300px;
}

#information li:nth-child(4) {
    height: 80px;
}

#information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 100px;
}

#information ::placeholder {
    color: #000;
}

#information input {
    padding-left: 15px;
}

.button-subscribe {
    height: 50px;
    width: 100px;
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
}

.button-subscribe:hover {
    background: rgba(0, 0, 0, 0.7);
}

#information li h4 {
    margin-bottom: 20px;
}

#information li p {
    font-size: 13px;
    color: #808080;
}

#information li:nth-child(3) {
    line-height: 25px;
}

#information li:nth-child(3) h4 {
    margin-bottom: 10px;
}

#information li:nth-child(2) p:last-child {
    line-height: 25px;
    color: #e8e8e8;
}

#information input {
    width: 65%;
    height: 40px;
    border: 2px solid #000;
    margin-top: 19px;
    background: #f3f3f3;
    margin-right: -5px;
    font-size: 13px;
}

#information button {
    width: 25%;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#information ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#hidden{
    display: none;
}

#information button:hover {
    background: rgba(0, 0, 0, 0.7);
}

.copyright-and-nav {
    margin: 0 auto;
    width: 93%;
    display: flex;
    flex-direction: row;
}

.copyright-and-nav li a {
    color: #000;
}

#copyright-text {
    width: 70%;
    margin-top: 20px;
    color: #808080;
}

#footer-links {
    display: flex;
    flex-direction: row;
}

#footer-links ul {
    display: flex;
    justify-content: space-between;
}

#footer-links li {
    margin: 20px 40px 0 0;
    height: 50px;
    width: auto;
}

#footer-links li a:hover {
    color: darkgrey;
    border-bottom: none;
}

.text-inside-images {
    width: 250px;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    margin-left: 30px;
    color: #fff;
    font-size: 18px;
}

.text-inside-images p:first-child {
    color: darkgrey;
    padding-right: 10px;
    text-shadow: 0px 0px 1px #000;
}

.text-inside-images p:last-child {
    font-weight: bold;
    text-shadow: 0px 0px 1px darkslategrey;
}