body{
    margin: 0;
    font-family: "Comic Sans MS",sans-serif;
}
h2{
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
}
div{
    background-color: orange;
    padding: 10px;
    text-align: center;
}
