* {
    font-family: 'Quicksand', sans-serif;
}

.input {
    margin-top: 0px;
}

.margin-50 {
    margin-top: 50px;
}

.input .row .left-block {
    /* height: 100vh; */
    border-right: 1.5px solid rgba(0, 0, 0, .3);
    font-weight: bolder;
}

.input .row .left-block button {
    background-color: #1976d2;
    color: white;
    margin: 10px;
    text-transform: none;
}

.right-block {
    position: fixed;
    background: #ebebeb;
    left: 50% !important;
}

.right-block .card-out {
    height: calc(100vh - 34px - 1.14rem - 0.912rem); /* 100vh - height h4 - margin top h4 - margin bottom h4*/
    position: relative;
    text-align: center;
    overflow: hidden;
    /* right: 50%; */
    /* margin-top: 30%; */
    /* transform: translate(50%, 50%); */
}

.right-block .card-out img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}