body{
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
}

.main-header{
    background-color:#0E0C0A;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.intro-section{
    background-color: #5B5349;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.intro-section div{
    margin: 0 auto; /* place center */
    max-width: 750px;
}

.text-section{
    margin: 0 auto; /* place center */
    max-width: 750px;
    background-color: #E1DFDD;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
}
.text-section p{
    margin: 0;
}

.text-area-div{
    margin: auto; /* place center */
    max-width: 750px;
}

#text-area{
    margin-left: 10px;
    border: 10px solid gray;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#text-area:focus{
    outline: none;
}

.result-section {
    margin-bottom: 20px;
}

.result-section-div{
    margin: 0 auto; /* place center */
    max-width: 750px;
}

.result-section-div span{
    font-size: 50px;
}

.result-section-div button{
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

.result-section-div button:hover{
    background-color: red;
}

.cong-section{
    margin: auto; /* place center */
    max-width: 750px;
    background-color: forestgreen;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 5px;
    display: none;
}

.cong-section-div p{
    margin: 0;
}

.cong-section-div{
    margin: 0 auto; /* place center */
    max-width: 750px;
}

footer{
    background-color: #0E0C0A;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 10px;
}

footer small{
    color: orangered;
}

