/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,300,400,700);


/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#5e5e5e; text-decoration: underline; outline:none}
a:hover{ color:#2B9C42; text-decoration: none; outline:none}

body{ background:#000; border:0; font: 12px 'Roboto', Arial, Helvetica, sans-serif; color:#666666 ; line-height:18px; min-width:320px;}

.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

.logo 
{
	font-size: 28px;
	color: #fff;
	font-family: 'Asap';
	text-decoration: none;
	text-transform: uppercase;
}

.logo:hover 
{
	font-size: 28px;
	color: #fff;
}

.logo_wrapper
{
	padding-top: 22px;
}

/* ============================= header ====================== */
#top1{background: url(../images/header_bg.jpg) repeat-x; width: 100%; position: fixed; left: 0; top: 0; z-index: 99; height: 120px; min-width: 320px;}

header{position: absolute; left: 0px; top: 27px; z-index: 31;}


/* ============================= content ====================== */
#home-subpage{padding-top: 0px;}
#home-subpage-inner{position: relative;}

.page_slide{position: relative;}
.page_slide img{width: 100%; position: relative;}

.slogan_wrapper{position: absolute; left: 0; top: 50%; margin-top: 40px; width: 100%; font-family: 'Asap'; color: #fff; text-transform: uppercase;}
.slogan_wrapper .txt1{font-size: 40px; line-height: 40px; font-weight: 700;}
.slogan_wrapper .txt2{font-size: 24px; line-height: 24px;}



#content{padding-top: 50px; padding-bottom: 50px; background: #fff;}

.ul2{ padding: 0; margin: 0; list-style: none; padding-bottom: 0px;}
.ul2 > li{font-weight: 400; font-family: 'Asap'; font-size: 14px;color: #201f1e;line-height: 24px; padding:10px 0; text-transform: uppercase;}
.ul2 > li a{display: block; color: #201f1e;}
.ul2 > li a:hover{color: #000; text-decoration: underline;}
.ul2 > li a i{color: #2B9C42; font-size: 20px; float: left; padding-right: 10px; width: 50px; text-align: center;}
.ul2 > li a:hover i{color: #2B9C42;}
.ul2 > li a span{display: table;}

.news1{display: block; margin-bottom: 20px; text-decoration: none;}
.news1 .txt1{font-family: 'Asap'; font-size: 16px; color: #201f1e; text-transform: uppercase; padding-bottom: 5px;}
.news1:hover .txt1{color: #000; text-decoration: underline;}
.news1 .txt2{font-family: 'Asap'; font-size: 12px; color: #9e9e9d; text-transform: uppercase; padding-bottom: 15px;}
.news1 .txt3{font-family: 'Roboto'; font-size: 12px; color: #666666;}




#home{position: relative; overflow: hidden;}
#slides_wrapper{position: relative; }
.slides-pagination a
{
  text-indent: -9999px;
}
.home_banners{position: absolute; width: 100%; left: 0; bottom: 10%; z-index: 2;}

#services{position: relative; background: #f2f2f2; padding-top: 70px; padding-bottom: 70px;}
/* ============================= banner ====================== */
#banner_wrapper{ position: relative; padding-top: 0px; padding-bottom: 0px;}

.banner_title{}

#banner{position: relative; padding-bottom: 0px; padding-top: 0px; }

.banner_prev{display: block; width: 25px; height: 42px; position: absolute; left: -50px; top: 50%; margin-top: -21px; z-index: 0;}
.banner_prev .over1{display: block; width: 100%; height: 100%; position: absolute; background: url(../images/prev2.png) left top no-repeat;opacity: 0.2; filter: alpha(opacity=20);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner_prev:hover .over1{opacity: 1; filter: alpha(opacity=100);}

.banner_next{display: block; width: 25px; height: 42px; position: absolute; right: -50px; top: 50%; margin-top: -21px; z-index: 0;}
.banner_next .over1{display: block; width: 100%; height: 100%; position: absolute; background: url(../images/next2.png) left top no-repeat;opacity: 0.2; filter: alpha(opacity=20);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner_next:hover .over1{opacity: 1; filter: alpha(opacity=100);}




#banner .carousel-box{position: relative;}
#banner .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#banner .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#banner .caroufredsel_wrapper{padding: 0; margin: 0;}
#banner .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#banner .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.banner{}
.banner .banner_inner{}
.banner .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover{  }
.banner .banner_inner a .txt1{font-family: 'Roboto Condensed'; font-weight: 700; font-size: 28px; line-height: 28px; color: #201f1e; text-transform: uppercase; padding-bottom: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .txt1{}
.banner .banner_inner a figure{margin: 0; padding: 0px; position: relative; border: none; padding: 0px; background: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure{}
.banner .banner_inner a figure .img{width: 100%;}
.banner .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}
.banner .banner_inner a .caption{background: #f2f2f2; padding: 25px; border: 1px solid #e1e1e1; border-top: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption{background: #fff;}
.banner .banner_inner a .caption .txt2{color: #201f1e; font-weight: 700; text-transform: uppercase; padding-bottom: 5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt2{}
.banner .banner_inner a .caption .txt3{color: #858585; padding-bottom: 30px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt3{}
.banner .banner_inner a .caption .txt4{color: #201f1e; font-size: 18px; font-family: 'Asap';
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption .txt4{}
/* ============================= banner end ====================== */

#about{position: relative; background: #fff; padding-top: 70px; padding-bottom: 90px;}

.page_title{font-size: 36px; line-height: 36px; color: #201f1e; font-family: 'Roboto Condensed'; font-weight: 700; text-transform: uppercase; text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 30px;}
.page_title span{display: inline-block; padding: 0 60px; position: relative;}
.page_title em{display: inline-block; width: 1000px; height: 22px; background: url(../images/h_px1.png) center center repeat-x; position: absolute; top: 50%; margin-top: -11px;}
.page_title em.l{right: 100%;}
.page_title em.r{left: 100%;}

.page_title2{font-size: 36px; line-height: 36px; color: #fff; font-family: 'Roboto Condensed'; font-weight: 700; text-transform: uppercase; text-align: center; overflow: hidden; margin-top: 20px; margin-bottom: 30px;}
.page_title2 span{display: inline-block; padding: 0 60px; position: relative;}
.page_title2 em{display: inline-block; width: 1000px; height: 22px; background: url(../images/h_px2.png) center center repeat-x; position: absolute; top: 50%; margin-top: -11px;}
.page_title2 em.l{right: 100%;}
.page_title2 em.r{left: 100%;}

.divider1{height: 21px; background: url(../images/divider1.png) center center no-repeat; padding: 40px 0;}

#products{position: relative; background: #fff; padding-top: 50px; padding-bottom: 50px;}

#testimonials{position: relative; background: #fff; padding-top: 50px; padding-bottom: 50px;}

#contacts2{position: relative; background: #1e1d1c; padding-top: 50px; padding-bottom: 50px; color: #bdbdbd;}

.location1{padding-bottom: 25px;}
.location1 i{color: #2B9C42; font-size: 30px; float: left; padding-right: 15px;}
.location1 span{display: table;}
.location1 span .txt1{font-size: 18px; color: #e2e5e9; padding-bottom: 10px;}

#google_map{position: relative;}
.google_map{width: 100%; position: relative; overflow: hidden; margin: 0; padding: 0px; background: #fff; border: none; line-height: 1px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.google_map iframe{position: relative; overflow: hidden; width: 100%; height: 420px; border: none; background: #fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;line-height: 0;}




/* ============================= footer ====================== */

#bot1{position: relative; background: #1e1d1c; padding-top: 90px; padding-bottom: 80px;}

.logo2_wrapper{float: left;}
.logo2_wrapper a{display: inline-block;}

.social2_wrapper{float: right; padding-top: 10px;}

.social2_txt{float: left; font-family: 'Asap'; font-weight: 700; color: #e2e2e2; font-size: 18px; line-height: 20px; padding-top: 22px; padding-right: 20px; text-transform: uppercase;}

.social2{ float: left; margin: 0; padding: 0; padding-top: 0px; list-style: none;}
.social2 li{display: inline-block; margin: 0px 3px 3px;}
.social2 li a{display: block; width: 64px; height: 64px; text-decoration: none; background: url(../images/social_ic1.jpg) left top no-repeat;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social2 li a:hover{background-position: bottom;}

.social2 li.nav1 a{background-image: url(../images/social_ic1.jpg);}
.social2 li.nav2 a{background-image: url(../images/social_ic2.jpg);}
.social2 li.nav3 a{background-image: url(../images/social_ic3.jpg);}
.social2 li.nav4 a{background-image: url(../images/social_ic4.jpg);}
.social2 li.nav5 a{background-image: url(../images/social_ic5.jpg);}
.social2 li.nav6 a{background-image: url(../images/social_ic6.jpg);}


footer{position: relative; padding: 45px 0; background: #000; color: #9b9b9b; font-size: 12px;}
footer a{color: #cbcbcb;}






/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: #000; color: #ffffff;}
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax .container { }
.parallax-content { padding-top: 0px; padding-bottom: 0px; text-align: center;}

.parallax_txt1{font-size: 46px; line-height: 50px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt2{font-size: 84px; line-height: 90px; color: #fff; font-family: 'Asap'; text-transform: uppercase; font-weight: 700;}
.parallax_txt3{font-size: 46px; line-height: 50px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt4{font-size: 36px; line-height: 54px; color: #fff; font-family: 'Asap'; text-transform: uppercase;}
.parallax_txt4 a{color: #fff;}


.bg1 { background-image: url(../images/parallax1.jpg); }

.bg2 { background-image: url(../images/parallax2.jpg); }

.bg3 { background-image: url(../images/parallax3.jpg); }

.bg4 { background-image: url(../images/parallax4.jpg); }


#parallax1{ color: #d6d6d6;}
#parallax1 .row_cust{background: #000; background: rgba(0, 0, 0, 0.6); margin-left: 0; margin-right: 0;}
#parallax1 .col_cust{padding-left: 0; padding-right: 0;}
#parallax1 .minheight1{border-left: 1px solid #858585; padding: 0 35px 90px;}
#parallax1 .minheight1.last{border-right: 1px solid #858585;}

.yellow_corner_small{height: 35px; background: url(../images/yellow_corner_small.png) top center no-repeat;}

#parallax1 .txt1{font-family: 'Asap'; font-size: 24px; line-height: 24px; font-weight: 700; color: #fff; text-transform: uppercase; padding-top: 100px; padding-bottom: 30px;}
#parallax1 .txt2{font-weight: 700; text-transform: uppercase; padding-bottom: 10px;}
#parallax1 .txt3{padding-bottom: 30px;}

#parallax2{position: relative; overflow: visible;}

.yellow_box{width: 126px; height: 127px; background: url(../images/yellow_box.png) top center no-repeat; position: absolute; left: 50%; margin-left: -63px; top: -63px; z-index: 1;}

#parallax2 .parallax-content{padding: 120px 0;}

#parallax3{}

.yellow_corner{width: 158px; height: 79px; background: url(../images/yellow_corner.png) top center no-repeat; position: absolute; left: 50%; margin-left: -79px; top: 0; z-index: 1;}

#parallax3 .parallax-content{padding: 120px 0;}

#parallax4{}
#parallax4 .parallax-content{padding: 120px 0;}











/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: right; padding-right: 0px;}
.navbar_ .navbar-toggle { background: #1f1f1f; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 54px; margin-bottom: 54px; margin-right: 15px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #018213;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; background: none; margin-left: 1px;}
.navbar_ .nav > li:first-child{}
.navbar_ .nav > li > a{position: relative; display: block; text-decoration: none; background: none; font-family: 'Roboto Condensed'; font-weight: 700; font-size: 18px; line-height: 20px; color: #dfdfeb; text-shadow:none; padding: 50px 15px 20px; border: none; margin: 0; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; text-align: center; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.navbar_ .nav > li > a em{display: inline-block; width: 11px; height: 6px; background: url(../images/menu_arrow.png) right center no-repeat; position: absolute; left: 50%; margin-left: -5px; bottom: 7px;}
.navbar_ .nav > li > a span{display: block; width: 100%; height: 120px; background: #2B9C42; position: absolute; left: 0; top: -120px; z-index: -1;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #1e1e1e; text-decoration: none; background: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; }
.navbar_ .nav > li > a:hover span, .navbar_ .nav > li > a:focus span, .navbar_ .nav > li.sfHover > a span, .navbar_ .nav > li.sfHover > a:hover span{top: 0;}

.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{color: #1e1e1e; text-decoration: none; background: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}
.navbar_ .nav > li.active > a span, .navbar_ .nav > li.active > a:hover span, .navbar_ .nav > li.active > a:focus span{top: 0;}

.sub-menu ul{ position: absolute; display: none; left: 0; top: 120px; list-style: none; zoom: 1; z-index: 109; margin: 0; padding:20px 0; background: #2B9C42; text-align: left;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Roboto Condensed'; font-weight: 700; font-size: 15px; line-height: 20px; color: #1e1e1e; text-decoration: none; padding: 3px 25px; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #fff; background: #018213;}

.sub-menu li li a:hover{ text-decoration: none; color: #fff; background: #bdbdbd;}

.sub-menu li a em{display: inline-block; width: 5px; height: 10px; background: none; position: absolute; right: 8px; top: 50%; margin-top: -5px;}
.sub-menu li a:hover em{background-position: bottom;}

.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -20px; margin-left: 0px; background: #e5e5e5;}






/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }


/* ============================= main layout ====================== */
h2{font-family:'Roboto Condensed'; font-weight:700; font-size:36px; color:#201f1e; line-height:36px; padding:20px 0  30px 0; margin: 0 0 0px; text-transform: uppercase;}

h3{font-family:'Roboto Condensed'; font-weight:700; font-size:28px; color:#201f1e; line-height:28px; padding:20px 0  30px 0; margin: 0 0 0px; text-transform: uppercase;}
h3.w{color: #fff;}

h4{font-family:'Roboto Condensed'; font-weight:700; font-size:20px; color:#6b6b6b; line-height:20px; padding:20px 0  30px 0; margin: 0 0 0px; text-transform: uppercase;}

h5{font-family:'Roboto'; font-weight:300; font-size:16px; color:#7c7c7c; line-height:24px; padding:0px 0 10px 0; margin: 0 0 0px;}














.img-responsive-old{display: block; max-width: 100%; height: auto;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.vl1{background: url(../images/vl1.jpg) right top repeat-y;}




/*-----btn-----*/
.btn-default.btn1{display: inline-block; background: #2B9C42; border:1px solid #2B9C42; font-family: 'Asap'; margin-top: 10px; margin-bottom: 10px; color: #000; font-size: 18px; line-height: 20px; font-weight: 400; padding: 8px 20px; text-decoration: none;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #888888;background: none; border-color: #454545;}

.btn-default.btn2{display: inline-block; background: none; border:1px solid #b9b9b9; font-family: 'Asap'; margin-top: 10px; margin-bottom: 10px; color: #201f1e; font-size: 18px; line-height: 20px; font-weight: 400; padding: 15px 20px; text-decoration: none;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{color: #fff;background: #2B9C42; border-color: #2B9C42;}










/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: #e7e0d7; border: 1px solid #c4bdab;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: #666666}

.thumb1 {margin-bottom: 0px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 .thumbnail a{text-decoration: none; display: block; background: #1e1e1e; background: rgba(30, 30, 30, 0.8); padding: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; border-radius: 10px;
}

.fa-gears
{
	float: left;
	margin-right: 30px;
	margin-left: 20px;
}

.thumb1 .thumbnail a:hover{background: #2B9C42;}
.thumb1 .thumbnail a .figure{padding-bottom: 15px; font-family: 'Asap'; font-weight: 700; font-size: 18px; line-height: 24px; color: #fff; text-transform: uppercase;}
.thumb1 .thumbnail a:hover .figure{}
.thumb1 .thumbnail a .figure i{color: #2B9C42; font-size: 50px; float: left; padding-right: 15px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb1 .thumbnail a:hover .figure i{color: #fff;}
.thumb1 .thumbnail a .figure span{display: table;}
.thumb1 .thumbnail a .caption{color: #b1b6be;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.thumb1 .thumbnail a:hover .caption{color: #fff;}

.thumb2 {margin-bottom: 20px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 figure{margin: 0; float: left; margin:0px 20px 20px 0px;}
.thumb2 figure img{width: auto;}
.thumb2 .caption{display: table; color: #5e5e5e;}
.thumb2 .caption .txt1{font-family: 'Asap'; font-size: 24px; line-height: 24px; color: #201f1e;text-transform: uppercase; padding-bottom: 5px;}
.thumb2 .caption .txt2{font-family: 'Asap'; font-size: 16px; line-height: 20px; color: #9e9e9d;text-transform: uppercase; padding-bottom: 15px;}
.thumb2 .caption .txt3{color: #5e5e5e; font-size: 14px; line-height: 20px; text-transform: uppercase; font-weight: 700; padding-bottom: 5px;}
.thumb2 .caption .txt3 i{float: left; padding-right: 10px; color: #2B9C42; font-size: 16px; line-height: 20px;}
.thumb2 .caption .txt3 span{display: table;}
.thumb2 .caption .txt4{color: #5e5e5e; font-size: 14px; line-height: 20px; padding-bottom: 0px;}
.thumb2 .caption .txt4 i{float: left; padding-right: 10px; color: #2B9C42; font-size: 16px; line-height: 20px;}
.thumb2 .caption .txt4 span{display: table;}

.thumb3 {margin-bottom: 30px;}
.thumb3.last {margin-bottom: 0px;}
.thumb3 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb3 figure{margin: 0; float: left; margin:0px 20px 20px 0px;}
.thumb3 figure img{width: auto;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; border: 1px solid #b9b9b9;}
.thumb3 .caption{display: table; color: #5e5e5e;}
.thumb3 .caption .txt1{font-family: 'Asap'; font-size: 24px; line-height: 24px; color: #201f1e;text-transform: uppercase; padding-bottom: 15px;}
.thumb3 .caption .txt2{font-family: 'Roboto'; font-style: italic; font-size: 12px; line-height: 18px; color: #666666; padding-bottom: 15px;}
.thumb3 .caption .txt3{font-family: 'Roboto'; font-weight: 700; font-size: 14px; line-height: 20px; color: #bebebe;}

.thumb4 {margin-bottom: 20px;}
.thumb4.last {margin-bottom: 0px;}
.thumb4 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb4 figure{margin: 0; float: none; margin:0px 0px 20px 0px;padding: 0px; background: none;}
.thumb4 figure img{width: 100%;}
.thumb4 .caption{color: #bcbcbc; font-size: 18px; line-height: 28px;}
.thumb4 .caption a{color: #fff;}






/*================= queryLoader =========================*/
#load {width: 100%;height: 100%;position: fixed;overflow: hidden;z-index: 1001;	background-color: #000;}
#qLoverlay{background: #000!important;}
#qLbar{background: #2B9C42!important;}
#qLpercentage{color: #2B9C42!important; font-family: 'Roboto'; font-weight: 700; font-size: 40px!important; line-height: 1;}



/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; }

#ajax-contact-form .form-group{margin-left: 0; margin-right: 0;}
#ajax-contact-form .form-group label{color: #fff;}
#ajax-contact-form .form-control{height: 38px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #727271; background: #1c1b1a;border: 1px solid #8f8f8f;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#ajax-contact-form .form-control:focus{border-color: #2B9C42; color: #fff;}
#ajax-contact-form textarea.form-control {height: auto;}
#ajax-contact-form .form-group.capthca{float: left; margin-right: 30px;}
#ajax-contact-form .form-group.capthca input{width: 170px;}
#ajax-contact-form .form-group.img{float: left;}
#ajax-contact-form .form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit{display: inline-block; background: none; color: #fff; font-family: 'Asap'; font-size: 18px; line-height: 20px; font-weight: 400; padding: 15px 30px; text-decoration: none;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #b9b9b9;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit:hover{background: #2B9C42; color: #fff; border-color: #2B9C42;}

#copyright
{

}





/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1220px) {
 .container { padding: 0; }
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1219px) {
	.navbar_ .nav > li > a{padding-left: 10px; padding-right: 10px; font-size: 16px;}

  .thumb1 .thumbnail a .figure{font-size: 14px;}

  #banner{padding-bottom: 70px;}

  .banner_prev{left: 50%; margin-left: -40px; top: auto; bottom: 0; margin-top: 0;}
  .banner_next{right: 50%; margin-right: -40px; top: auto; bottom: 0; margin-top: 0;}







}
@media (min-width: 992px) and (max-width: 1219px) {



}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {

  header{width: 200px; top: 45px;}
  .navbar_ .nav > li > a{padding-left: 10px; padding-right: 10px; font-size: 14px;}

  .home_banners{display: none;}

  #bot1{text-align: center;}

  .logo2_wrapper{float: none; text-align: center;}

  .social2_wrapper{float: none; display: inline-block; padding-top: 0px;}

  .social2_txt{float: none; padding-bottom: 30px;}

  .social2{float: none;}







}
@media (min-width: 768px) and (max-width: 991px) {








}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  header{left: 15px;}

	.navbar_ {float: none; height: 140px; margin-bottom: 0; padding-right: 0; margin-left: -15px; margin-right: -15px;}
	.navbar-collapse_{clear: both; margin-left: 0px; margin-right: 0px;}
	.navbar_ .nav{display: block; background: #000; border-right: none;}
	.navbar_ .nav > li{float: none;background: none; margin: 0; margin-top: 1px;}
	.navbar_ .nav > li > a{margin-bottom: 0; line-height: 20px; padding-top: 10px; padding-bottom: 10px;}
	.navbar_ .nav > li > a span{display: none;}
  .navbar_ .nav > li > a em{bottom: 2px;}
	.navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus, .navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{background: #c89f08;}
	.sub-menu ul{position: relative; left: 0; top: 0; margin-top: 1px;}

  #parallax1 .minheight1{border-left: none; border-top: 1px solid #858585;}
  #parallax1 .minheight1.last{border-right: none; border-bottom: 1px solid #858585;}

  .parallax_txt1{font-size: 26px; line-height: 30px;}
  .parallax_txt2{font-size: 54px; line-height: 60px;}
  .parallax_txt3{font-size: 26px; line-height: 30px;}
  .parallax_txt4{font-size: 16px; line-height: 24px;}

  .page_slide{position: relative;}
  .page_slide img{width: 800px;left: 50%; margin-left: -400px;}

  .slogan_wrapper .txt1{font-size: 20px; line-height: 20px;}
  .slogan_wrapper .txt2{font-size: 14px; line-height: 20px;}

  .vl1{display: none;}

  .thumb1 {margin-bottom: 30px;}












}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {

  .google_map iframe{height: 240px;}







}