/// Default color variables

$accent-color: #03C4EB;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Raleway', sans-serif;
$heading-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;