@import url(http://fonts.googleapis.com/css?family=PT+Sans|Lora:400,400italic);

body {
	background-color: #eee;
	font: 12pt 'PT Sans', Segoe UI, Calibri, sans-serif;
	}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 0;
	line-height: 0;
	font-size: 0;
	}


.gallery {
	margin: 20px auto;
	width: 960px;
	}

.apfg-wrapper > .apfg-images > li {
	width: 300px;
	height: 393px;
	margin: 20px 20px 0 0;
	}

	.apfg-wrapper > .apfg-images > li > div {
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
		font-size: 0;
		line-height: 0;
		}

#logo {
	display: block;
	margin: 20px auto;
	}

.my-custom-tile {
	background-color: #333;
	color: #fff;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	width: 580px !important;
	height: 353px !important;
	}

	.my-custom-tile p {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding: 40px 0;
		}
