{% extends "static_section.html" %}

{% block content %}
<div class="grid_5 alpha">
  <img src="../../../site_media/images/ConquerStress.jpg" alt="Book Cover - Front" height="350" />
</div>
<div class="grid_6 omega">
  <img src="../../../site_media/images/new.png" alt="New Book from Kathy!" />
  <h4>Conquer Your Stress with Mind/Body Techniques</h4>
  <h2 class="center">$16.95 + Shipping, CA Tax</h2>
  <br />
  <p class="center">To order by phone, call (805) 680-1984.</p>
  <p class="center">Credit cards accepted over the phone.</p>
  <br />
  <div id="buy_book_button">
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="VFPLPP92UL3WS">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
<div class="clear">&nbsp;</div>
<div class="endsection"> </div>
<div class="grid_11">
<p>We've all felt stress, but what it is really and what is it doing to our health? Conquer your Stress with Mind/Body Techniques is a handbook allowing you to gain control over your reaction to stress. Learn the current theories and techniques to put you back in charge. This fun, easy to read book covers meditation, visualization, affirmations, prayer, yoga, massage, pain management and dozens of techniques you can employ to help strengthen your mind/body connection. Pick one up today.</p>
</div>
<div class="clear">&nbsp;</div>
<div class="endsection"> </div>
  <div class="grid_5 alpha">
    <img src="../../../site_media/images/mbt_front.jpg" height="300px" alt="Book Cover - Front" />
    <br /><br/>
  </div>
  <div class="grid_6 omega">
    <div id="buy_book_button">
      <h4>Body-Mind Therapies for the Bodyworker</h4>
      <h6>and other health practitioners</h6>
      <br />
      <p>A handbook of resources to enhance your practice and help more clients heal with mind-body medicine. </p>
      <br />
      <br /><h2>$15.95 + Shipping, CA Tax</h2><br />
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="23NXXPXP3RTCS">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
<p class="center">Continue your education by adding Kathy's instructional DVD, <a href="/instructional_dvd/"><i>Therapeutic Massage at Home</i></a></p>
</div>
<div class="clear"> </div>
<div class="grid_11">
<p>If you are a bodyworker or health professional interested in adding mind/body therapies to your practice and your life, this is your book. Learn about the stress response, placebo effect and fundamentals of mind/body communication. You will understand the specific ways these methods can enhance the healing of your clients and learn multitudes of modalities you can add to help more people, increase your income and experience the new paradigm of the mind/body connection. Foreword by Ruth Werner.</p>
<br /><br />
<h4>What others are saying:</h4>
<br /><br />
<p>If only everyone would honestly ask "Who's the Matter with Me" and recognize that it is usually you, yourself, we would all be better.  Meanwhile, as Kathy reveals, body workers may help a great deal more than mind workers!</p>
<h4>C. Norman Shealy, M.D., Ph.D.</h4>
<p>President, Holos Institutes of Health</p>
<p>Founding President, American Holistic Medical Association</p>
<p>Author of MEDICAL INTUITION, ENERGY MEDICINE, BLISS -- DOING GOOD TO SELF and OTHERS</p>
<br /><br />
<p>Kathy Gruver is a life-long learner dedicated to holistic wellness and the bodywork profession. She's poured her knowledge - and heart and soul- into this text. There are gems of insight here for everyone from practitioners to clients. My hope is readers will honor Gruver by enjoying this text and living well.</p>
<h4>Leslie A Young, PhD</h4>
<p>Editor-in-Chief,</p>
<p>Massage and Bodywork Magazine</p>
<br /><br />
<p>Dr. Kathy Gruver writes in a candid, down-to-earth style that makes it easy to comprehend her powerful message. She provides logical and inspirational information for bodyworkers to elevate their level of wellness and that of their clients. The relevancy of mind/body dynamics that Dr. Gruver brings to light reaches all of us.</p>

<h4>David J. Pesek, Ph.D.</h4>
<p>Holistic Healthcare Pioneer</p>

  </div>
  <div class="clear"></div>
<br /><br />
<div id="book_header">
  <div class="grid_5">
    <img src="../../../site_media/images/AMC_Front_Cover.JPG" height="300px" alt="Book Cover - Front" />
  </div>
  <div class="grid_6 omega">
    <h4>The Alternative Medicine Cabinet</h4>
    <br /><br />
    <a href="http://beverlyhillsbookawards.com/" target="_blank"><img src="http://www.beverlyhillsbookawards.com/img/bhba-winner-sticker.png" width="174" height="175" border="0"></a><br />
    <a href="http://www.indieexcellence.com/indie-results-2011.htm" target="_blank"><img src="http://www.indieexcellence.com/IEx_goldoval_finalist72s.png" width="175" height="80" border="0"></a>
    <br /><br />
    <div id="buy_book_button">
      <br /><h2>$12.00 + Shipping, CA Tax</h2><br />
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="KTRTFHBGXKJ28">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
<p class="center">Continue your education by adding Kathy's instructional DVD, <a href="/instructional_dvd/"><i>Therapeutic Massage at Home</i></a></p>
  </div>
  <div class="clear"></div>
<div class="grid_12">
  <br /><br />
  <div class="solo_text" style="margin-right:50px;"><p>Learn how to rely less on surgery and medication. Regain control of your health. And close this book with a better grasp of natural health techniques for you and your family.</p></div>
  <br />
  <h3>This book contains information on:</h3>
  <br />
  <ul class="grid_5 prefix_1 alpha book_contents">
    <li>Benefits of Massage</li>
    <li>Types of Massage</li>
    <li>Communication with a Practitioner</li>
    <li>Homeopathics</li>
    <li>Reiki</li>
    <li>Nutrition; Kathy’s Top Ten Picks</li>
    <li>Herbal Overview</li>
    <li>Bach Flower Essences</li>
    <li>Healing and Belief</li>
    <li>Healthy Pregnancy</li>
    <li>Homeopathy for Children</li>
    <li>Even Wonder Woman needs a day off; Dealing with Stress</li>
    <li>Home Care</li>
    <li>Ten Health Tips</li>
    <li>Intro to Corporate Health</li>
    <li>Energy Boosters</li>
    <li>Obesity and Weight Loss</li>
  </ul>
  <ul class="grid_5 omega book_contents">
    <li>Back Pain</li>
    <li>Sleep</li>
    <li>Office Health; Avoiding Getting Sick</li>
    <li>Depression and Anxiety</li>
    <li>Be Your Own Advocate</li>
    <li>Cancer</li>
    <li>Natural Solutions for Acid Indigestion</li>
    <li>Herbal Formula for High Blood Pressure</li>
    <li>Environmental Pollution</li>
    <li>A Whole Body Herbal Tonic</li>
    <li>How to Stay Sick List: The Keys to Unhealthy Living</li>
    <li>How to Be Healthy List: A Better Choice</li>
    <li>Healing. Physiology or Attitude?</li>
    <li>Today’s Brilliance</li>
  </liul>
</div>
<div class="clear">&nbsp;</div>

</div>

{% endblock %}
