{% extends "static_section.html" %}

{% block content %}
<div class="section">
  <h3>Natural Health Consultations</h3>
		<p>$125 for initial consultation, $50 follow up, $50 phone consultation. </p>
		<p>Appointments are available Mon – Fri from 9am to 5pm and select evenings. </p>
		<p>Please call for an appointment (<strong>805-680-5287</strong>). Appointments will be set about a week or 2 after your initial phone call to allow time for you to fill out the intake form and for me to go over it, research and pull information for you on your concerns. In the case of an acute problem, like a cold, flu or sore throat, quicker appointments will be made or a phone consult will take place.</p>
		<p>Please respect our cancellation policy and give at least 24 notice to cancel. You will be billed for the amount of the appointment if not cancelled with sufficient time or a no show. We will ask for a credit card to hold your spot, at the time you schedule the appointment.</p>
</div>
<div class="section">
  <h3>Address, Directions and Map</h3>
  <p>3040 State St in the back of the building, right next to Thomasville Furniture, across the street from Coffee Bean and Tea Leaf.  We are available <u>by appointment only</u>.  Please do not stop by and expect to be able to speak with Kathy or make an appointment.  Thank you for your cooperation on this.</p>
</div>
<div class="section">
  <h3>California Legalities</h3>
  <p>Laws have changed recently in California that don't allow me to use the term Doctor or ND even though that is the degree that I earned.  There are a few colleges throughout the United States that train "Medical Naturopaths": they get a 4 year degree and can diagnose, prescribe, perform minor surgery and order medical tests.  This group lobbied so that they would exclusively be able to use ND and Doctor as their title.  This has left traditional Naturopaths, like myself, in limbo.  So though I have earned a Doctorate degree, I cannot use that title.</p>
</div>
{% endblock %}
