{% extends "static_section.html" %}

{% block content %}

<div id="home_page">

  <h1 class="header_text">Welcome to the Healing Circle!</h1>

  <p class="natural_health_link"><a href="http://www.thealternativemedicinecabinet.com" rel="external">Learn More about Kathy's Book, The Alternative Medicine Cabinet</a></p>


{{hometext.text|linebreaks}}
<br /><br />
<div class="clear"></div>
<h1 class="header_text">Global Ebook Awards</h1>
  <img style="float:left;" width="175" src="/site_media/images/global_ebook_award.png" alt="Global Ebook Awards" />
  <p style="padding-top:50px; margin-left:185px;">Dr. Gruver is proud to announce that Conquer your Stress is a Global Ebook Awards Gold Medal Winner.</p>
<div class="clear"></div>
<br /><br />
<h1 class="header_text">National Indie Excellence Award Winner</h1>
  <img src="/site_media/images/NIEAseal-2014-Winner.png" width="150" alt="National Indie Excellence Award Winner!" style="float: left;" />
  <p style="padding-top: 50px; margin-left: 155px;">Dr. Gruver is proud to announce that Conquer your Stress was selected as a winner for the National Indie Excellence Awards.</p>
<div class="clear"></div>
<br /><br />
<h1 class="header_text">USA Best Book Awards Finalist</h1>
  <a href="http://usabooknews.com" target="_blank">
    <img src="/site_media/images/390_Finalistonbook.jpg" width="150" alt="USA Best Books Finalist!" style="float: left;" />
  </a>
<p style="padding-top: 50px; margin-left: 155px;">Dr. Gruver is proud to announce that Conquer your Stress was selected as a finalist for the USA Best Book Awards.</p>
<div class="clear"></div>
<br /><br />
<h1 class="header_text">Beverly Hills Book Awards Winner</h1>
<a href="http://beverlyhillsbookawards.com/" target="_blank"><img src="http://www.beverlyhillsbookawards.com/img/bhba-winner-sticker.png" width="174" height="175" style="float:left;" border="0"></a>
<p style="padding-top:60px;">Kathy is proud to announce that her book, <i>The Alternative Medicine Cabinet</i>, has won the Beverly Hills Book Awards in the alternative medicine category.
<div class="clear"></div>
<br /><br />
<h1 class="header_text">Spirit of Entrepreneurship Award</h1>
<img src="/site_media/images/2012awardimage-sm.jpg" style="width:150px; float: left;" alt=" " />
<p style="float: left;width: 350px; margin-top: 30px; margin-left: 5px; text-align: justify;">Kathy was honored this year with the Spirit of Entrepreneurship Award in health and fitness by the Santa Barbara Chapter of the National Association of Women Business Owners. It was a true joy to be recognized by this organization and the community for all my hard work in building up my business and helping people heal.</p>
<img src="/site_media/images/awardimage.JPG" style="width: 150px; float: right;" alt=" " />

<div class="clear"> </div>
<br /><br />
<h1 class="header_text">Follow Kathy</h1>
  
<p class="blog"><a href="http://www.facebook.com/drkathygruver4health" rel="external">http://www.facebook.com/drkathygruver4health</a></p>  
<p class="blog"><a href="http://www.linkedin.com/in/kathygruver" rel="external">http://www.linkedin.com/in/kathygruver</a></p>  
<p class="blog"><a href="http://www.twitter.com/klgruver" rel="external">http://www.twitter.com/klgruver</a></p>  
<p class="blog"><a href="http://www.healingcirclemassage.blogspot.com" rel="external">http://www.healingcirclemassage.blogspot.com</a></p>
<p class="blog"><a href="http://www.youtube.com/drkathygruver" rel="external">http://www.youtube.com/drkathygruver</a></p>
</div>

{% endblock %}
