{% extends "base.html" %}

{% block content %}
<div id="intake">
<p>Please download this <a href="/site_media/pdf/intake_form.pdf">intake form</a> (PDF) and print it out.  Fill out the form and deliver it to me.  I will review it and contact you.</p>
<p>Bring it to 3040 State St (in the back)</p>
<p>or mail to</p>
<p>Healing Circle Natural Health</p>
<p>P.O. Box 3184</p>
<p>Santa Barbara, CA 93130</p>
</div>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=3040+State+St,+Santa+Barbara,+ca+93101&amp;sll=34.429355,-119.712396&amp;sspn=0.024885,0.040169&amp;ie=UTF8&amp;s=AARTsJrevdZxB4zffjOh56NejVK4bGmpfA&amp;ll=34.449671,-119.725227&amp;spn=0.024772,0.036478&amp;z=14&amp;iwloc=addr&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=3040+State+St,+Santa+Barbara,+ca+93101&amp;sll=34.429355,-119.712396&amp;sspn=0.024885,0.040169&amp;ie=UTF8&amp;ll=34.449671,-119.725227&amp;spn=0.024772,0.036478&amp;z=14&amp;iwloc=addr&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
{% endblock %}
