#footer_link{
	color: #FFFFFF;
}

footer{
  height: 60px;
}

#img_card{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 600px) {
  .img_card{
   width: 200px;
   margin-left: auto;
   margin-right: auto;
  }
}